name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.17.0]

    steps:
      - name: check out git repo
        uses: actions/checkout@v3
        with:
          lfs: true
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Activate Yarn v2
        run: npm i -g corepack && corepack prepare yarn@stable --activate && yarn plugin import workspace-tools
      
      # - name: Cache circom
      #   id: cache-circom
      #   uses: actions/cache@v3
      #   with:
      #     # npm cache files are stored in `~/.npm` on Linux/macOS
      #     path: ~/.npm
      #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hash('11') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-${{ env.cache-name }}-
      #       ${{ runner.os }}-build-
      #       ${{ runner.os }}-
      # - if: ${{ steps.cache-circom.outputs.cache-hit != 'true' }}
    
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy

      - name: Setup Circom global command
        run: |
          git clone https://github.com/iden3/circom.git
          cd circom
          cargo build --release
          cargo install --path circom
          circom --version

      - name: Install dependencies
        run: yarn

      - name: Compile all packages
        run: yarn compile

      - name: Run all unit tests
        run: yarn test
      
      - name: Generate docs
        run: yarn doc
